<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Eclipse Modisco Stable Build Target Platform" sequenceNumber="16">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>

    <unit id="org.eclipse.acceleo.runtime.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.m2m.atl.emftvm.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.m2m.atl.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.cdo.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.net4j.feature.group" version="0.0.0"/>
    <!--unit id="org.eclipse.net4j.db.derby.feature.group" version="0.0.0"/-->
    <unit id="org.eclipse.net4j.db.derby" version="0.0.0"/>
    <unit id="org.eclipse.net4j.db.derby.source" version="0.0.0"/>
    <unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
    <!--unit id="org.eclipse.birt.chart.feature.group" version="0.0.0"/-->
    <repository location="https://download.eclipse.org/releases/latest"/>
    <repository location="https://download.eclipse.org/acceleo/updates/releases/3.7/R202102190929"/>
    <repository location="https://download.eclipse.org/mmt/atl/updates/releases/latest"/>
    <!--repository location="https://download.eclipse.org/birt/update-site/4.6/"/-->
    <repository location="https://download.eclipse.org/modeling/emf/cdo/updates/releases/4.x"/>
    <repository location="https://download.eclipse.org/modeling/emf/emf/builds/milestone/latest"/>
    <repository location="https://download.eclipse.org/modeling/mdt/ocl/updates/milestones/latest"/>
    <repository location="https://download.eclipse.org/technology/swtbot/releases/latest"/>
    <!--repository location="https://download.eclipse.org/modeling/mdt/uml2/updates/milestones"/-->
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <!--unit id="org.eclipse.birt.chart.feature.group" version="0.0.0"/-->
    <!--repository location="https://download.eclipse.org/birt/update-site/4.6/"/-->
    <unit id="org.eclipse.birt.chart.device.extension" version="0.0.0"/>
    <unit id="org.eclipse.birt.chart.engine" version="0.0.0"/>
    <unit id="org.eclipse.birt.chart.engine.extension" version="0.0.0"/>
    <repository location="https://download.eclipse.org/mat/snapshots/update-site/"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/cbi/updates/license"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.antlr.runtime" version="3.2.0.v201101311130"/> 
    <unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/> 
    <unit id="org.apache.commons.cli" version="0.0.0"/>
    <unit id="org.apache.lucene" version="3.5.0.v20120725-1805"/>
    <unit id="org.apache.lucene.source" version="3.5.0.v20120725-1805"/>
    <unit id="org.apache.lucene.core" version="3.5.0.v20120725-1805"/>
    <unit id="org.apache.lucene.core.source" version="3.5.0.v20120725-1805"/>
    <unit id="org.apache.lucene.misc" version="3.5.0.v20120725-1805"/>
    <unit id="org.apache.lucene.misc.source" version="3.5.0.v20120725-1805"/>
    <unit id="org.apache.lucene.queries" version="3.5.0.v20120725-1805"/>
    <unit id="org.apache.lucene.queries.source" version="3.5.0.v20120725-1805"/>
    <unit id="org.hamcrest" version="0.0.0"/>
    <unit id="org.prefuse" version="0.0.0"/>
    <unit id="org.prefuse.source" version="0.0.0"/>
    <repository location="https://download.eclipse.org/tools/orbit/downloads/latest-S"/>
    <repository location="https://download.eclipse.org/tools/orbit/downloads/latest-R"/>
    <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
  </location>
</locations>
</target>
